body,
:root,
html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 10px none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);
}


/* Barra de navegação com a lista */
header nav ul,
header nav {
    width: 80%;
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap: 20px;
}

/* link  da lista */
header nav li a {
    color: black;
    text-decoration: none;
    border: 3px rgb(255, 186, 57)solid;
    border-radius: 10px;
    padding: 10px;

}



#heroSection {

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#heroSection h2 {

    align-self: flex-start;
    margin-bottom: 2rem;

}

#heroSection div {
    display: inline-block;
    flex-direction: row-reverse;
    position: relative;

}


#heroSection img {
    border: none;
    border-radius: 35px;
    position: relative;
    object-fit: cover;
    display: block;
    /* Faz a imagem preencher o espaço sem distorcer */
}

.text-overlay {

    /* Setando essas propriedades para o texto ficar dentro da imagem */
    
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 250px;
    margin: 0; 
    z-index: 1;

    /* Tela de fundo com blur */
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
     border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:  q;
    /* Lista de dentro */
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    font-size: large;
    color: white;
    border: none;
    font-size: larger;
    
   

}


.text-overlay::before{
    content:  "";
    position: absolute;
    top: 0;
    left: -30px;          /* empurra para dentro da imagem */
    width: 30px;          /* largura do blur */
    height: 100%;

    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0)
    );

    filter: blur(12px);
    z-index: -1
}